<a href="https://colab.research.google.com/github/manansingla123/Assignment-01/blob/main/python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q1**

In [ ]:
L=[11,12,13,14]

Ans1.1

In [ ]:
L=[11,12,13,14]
L.append(50)
L.append(60)
print("list after adding 50 and 60--> ",L)

list after adding 50 and 60-->  [11, 12, 13, 14, 50, 60]

Ans1.2

In [ ]:
L=[11,12,13,14]
print(L)
del L[0::2]
print("after removing 11 and 13 from the list--> ",L)

[11, 12, 13, 14]
after removing 11 and 13 from the list-->  [12, 14]

Ans1.3

In [ ]:
L=[11,12,13,14]
L.sort()
print("list after sorting in asending order--> ",L)

list after sorting in asending order-->  [11, 12, 13, 14]

Ans1.4

In [ ]:
L=[11,12,13,14]
L.sort(reverse=True)
print("list after sorting in descending order--> ",L)

list after sorting in descending order-->  [14, 13, 12, 11]

Ans1.5

In [ ]:
L=[11,12,13,14]
if 13 in L:
  print("13 is present in the list L")
else:
  print("13 is not present in the list L")

13 is present in the list L

Ans1.6

In [ ]:
L=[11,12,13,14]
count=0
for i in L:
  count+=1
print("no of elements in list is--> ",count)

no of elements in list is-->  4

Ans1.7

In [ ]:
L=[11,12,13,14]
sum=0
for i in L:
  sum=sum+i
print("sum of all elements in list is--> ",sum)

sum of all elements in list is-->  50

Ans1.8

In [ ]:
L=[11,12,13,14]
sum=0
for i in L:
  if(i%2!=0):
    sum=sum+i
print("sum of all odd numbers in the list is--> ",sum)

sum of all odd numbers in the list is-->  24

Ans1.9

In [ ]:
L=[11,12,13,14]
sum=0
for i in L:
  if(i%2==0):
    sum=sum+i
print("sum of all even numbers in the list is--> ",sum)

sum of all even numbers in the list is-->  26

Ans1.10

In [63]:
L=[11,12,13,14]
sum=0
for i in L:  
  count=0
  for j in range(1,i+1):
    if(i%j==0):
      count+=1
  if(count==2):
    sum=sum+i        
print("sum of all prime numbers in the list is : ",sum)

sum of all prime numbers in the list is :  24

Ans1.11

In [ ]:
L=[11,12,13,14]
del L[:len(L)]
print("after deleting all the elements of list--> ",L)

after deleting all the elements of list-->  []

Ans1.12

In [ ]:
L=[11,12,13,14]
del L
print("list deleted")

list deleted

In [ ]:
# tup=(1,2,3)
# li=list(tup)
# print(li)

## Q2

Ans2.1

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
d1={8:8.8}
D.update(d1)
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

Ans2.2

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D.pop(2)
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

Ans2.3

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
if 6 in D.keys():
  print("yes")
else:
  print("no")

no

Ans2.4

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
count=0
for key in D.keys():
  count+=1
print("total elements =",count)

total elements = 5

Ans2.5

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
sum=0
for val in D.values():
  sum=sum+val
print("sum of values= ",sum)

sum of values=  36.4

Ans2.6

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D[3]=7.1
print("updated key 3 : ",D)

updated key 3 :  {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

Ans2.7

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D.clear()
print("dictionary cleared : ",D)

dictionary cleared :  {}

## Q3

Ans3.1

In [ ]:
s1={10,20,30,40,50,60}
s2={40,50,60,70,80,90}
s3={55,66}
s1.update(s3)
print(s1)

{50, 66, 20, 55, 40, 10, 60, 30}

Ans3.2

In [ ]:
s1={10,20,30,40,50,60}
s1.remove(10)
s1.remove(30)
print(s1)

{50, 20, 40, 60}

Ans3.3

In [ ]:
s1={10,20,30,40,50,60}
if 40 in s1:
  print("yes")
else:
  print("no")

yes

Ans3.4

In [ ]:
s1={10,20,30,40,50,60}
s2={40,50,60,70,80,90}
s1=s1.union(s2)
print("union:",s1)

union: {70, 40, 10, 80, 50, 20, 90, 60, 30}

Ans3.5

In [ ]:
s1={10,20,30,40,50,60}
s2={40,50,60,70,80,90}
s3=s1.intersection(s2)
print("intersection: ",s3)

intersection:  {40, 50, 60}

Ans3.6

In [ ]:
s1={10,20,30,40,50,60}
s2={40,50,60,70,80,90}
s3=s1.difference(s2)
print("difference: ",s3)

difference:  {10, 20, 30}

## Q4

Ans4.1

In [ ]:
import string as s
import random as r
for i in range(1,101):
  k=r.randint(6,8)
  st=r.sample(s.ascii_letters,k)
  strin="".join(st)
  print(f" string {i} is {strin}")

 string 1 is VREpzqbA
 string 2 is lHsXKTf
 string 3 is aGFtus
 string 4 is bORjlU
 string 5 is qOZkAp
 string 6 is ywUjlKv
 string 7 is alpTUKdy
 string 8 is bNxYRh
 string 9 is WfoLuzQ
 string 10 is WPoncK
 string 11 is WoVyGhN
 string 12 is nQglmfqX
 string 13 is PXzdrmHC
 string 14 is NobeMf
 string 15 is rAVBxI
 string 16 is NHxElrY
 string 17 is lDeorFR
 string 18 is DzdBtmfW
 string 19 is uhNkxZKG
 string 20 is RsbBofN
 string 21 is lPfQmb
 string 22 is cHouXed
 string 23 is QhfYJqGk
 string 24 is SMFqan
 string 25 is ghjieT
 string 26 is Zstiao
 string 27 is ZRkfJAy
 string 28 is PQaNUv
 string 29 is nygZjr
 string 30 is AoGseRJL
 string 31 is ZBSQvIA
 string 32 is jCsOykGx
 string 33 is lCPOEf
 string 34 is BMAoJn
 string 35 is DUYPob
 string 36 is gvcpIHw
 string 37 is OguojMYa
 string 38 is plnWfs
 string 39 is PLiRSXu
 string 40 is mCBafY
 string 41 is uyqvbX
 string 42 is BMAXrEhk
 string 43 is gWxkpdfJ
 string 44 is bPfhXM
 string 45 is oprcEOs
 string 46 is WjuqEG
 string 47 is DXnLkCjt
 string 48 is xqwFSi
 string 49 is jpRdsX
 string 50 is uKbGdpJ
 string 51 is ebPxBpWF
 string 52 is WQHAwE
 string 53 is YurTida
 string 54 is gRQFzvi
 string 55 is RqPVWM
 string 56 is hfojAT
 string 57 is rUjtJlhS
 string 58 is HWnaoJ
 string 59 is byQwXoa
 string 60 is umhKIop
 string 61 is OcpUDgeh
 string 62 is CJKiZlfe
 string 63 is uaBDkfxj
 string 64 is NazBnpG
 string 65 is XAxrsR
 string 66 is hxDobK
 string 67 is hsgaSW
 string 68 is ATNSGF
 string 69 is kRLtZaB
 string 70 is RJczToN
 string 71 is wqhxIka
 string 72 is pGhdoZu
 string 73 is EJsXNjyb
 string 74 is lXQjoaRb
 string 75 is EyIDTlgF
 string 76 is QLvXGjb
 string 77 is KsBgXEL
 string 78 is FgbmJnZ
 string 79 is rxjwYv
 string 80 is WNEBsD
 string 81 is luWOLP
 string 82 is TLeOizC
 string 83 is wfPTVa
 string 84 is OQnKeqU
 string 85 is rZuCfUkV
 string 86 is BjOdJo
 string 87 is kCvKzAt
 string 88 is LBkzRxo
 string 89 is tASVxznU
 string 90 is ToYaKGM
 string 91 is kIYdNWpr
 string 92 is PntRVdS
 string 93 is OgMtVFS
 string 94 is kTfiucZU
 string 95 is wXDxGQRJ
 string 96 is wLPfsFM
 string 97 is rQRoXbju
 string 98 is vTHQpN
 string 99 is QhCZAxt
 string 100 is NPspmC

Ans4.2

In [ ]:
def isprime(a):
 count=0
 for i in range(1,a+1):
   if(a%i==0):
     count+=1
 if(count==2):
    print(a)
print("printing all the prime numbers between 600 and 800")  
for j in range(600,801):
  isprime(j)

printing all the prime numbers between 600 and 800
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

Ans4.3

In [ ]:
def chk(a):
  if(a%7==0 and a%9==0):
    print(a)
for i in range(100,1001):
  chk(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

## Q5

In [18]:
import random as r
def genlist(start,end,num):
  l=[]
  for j in range(num):
    l.append(r.randint(start,end))
  return l 
L1=genlist(10,30,10)   
L2=genlist(10,30,10)
print(L1)
print(L2)

[25, 24, 12, 23, 25, 22, 28, 23, 30, 28]
[23, 13, 30, 27, 29, 12, 24, 24, 25, 12]

Ans5.1

In [20]:
s1=set(L1)
s2=set(L2)
print("common numbers between the two lists are : ",s1.intersection(s2))

common numbers between the two lists are :  {12, 23, 24, 25, 30}

Ans5.2

In [21]:
print(s1)
print(s2)

{12, 22, 23, 24, 25, 28, 30}
{12, 13, 23, 24, 25, 27, 29, 30}

Ans5.3

In [24]:
print("MIN IN LIST 1 IS : ",min(L1))
print("min in list 2 is : ",min(L2))

MIN IN LIST 1 IS :  12
min in list 2 is :  12

Ans5.4

In [25]:
print("max in list 1 is : ",max(L1))
print("max in list 2 is : ",max(L2))

max in list 1 is :  30
max in list 2 is :  30

Ans5.5

In [30]:
print("sum of both the list L1 is : ",sum(L1))
print("sum of both the list L2 is : ",sum(L2))

sum of both the list L1 is :  240
sum of both the list L2 is :  219

## Q6

In [55]:
import random as r
p=[]
for j in range(100):
  p.append(r.randint(100,900))
print(p)

[237, 110, 818, 463, 521, 468, 385, 148, 552, 778, 818, 157, 618, 895, 822, 432, 166, 726, 512, 151, 744, 821, 782, 637, 434, 678, 102, 230, 853, 695, 231, 541, 702, 148, 712, 781, 595, 568, 363, 574, 268, 589, 711, 645, 456, 432, 459, 482, 562, 741, 587, 653, 655, 328, 312, 774, 885, 611, 688, 551, 621, 689, 724, 841, 413, 714, 752, 731, 328, 623, 477, 637, 723, 896, 212, 315, 419, 166, 213, 282, 122, 200, 595, 272, 840, 510, 629, 243, 445, 511, 476, 720, 146, 807, 251, 807, 299, 355, 172, 404]

Ans6.1

In [60]:
# print(p)
count=0
for j in p:
  if(j%2!=0):
    count+=1
    print(j)
print("total odd numbers in the list are : ",count)

237
463
521
385
157
895
151
821
637
853
695
231
541
781
595
363
589
711
645
459
741
587
653
655
885
611
551
621
689
841
413
731
623
477
637
723
315
419
213
595
629
243
445
511
807
251
807
299
355
total odd numbers in the list are :  49

Ans6.2

In [62]:
print(p)
count=0
for j in p:
  if(j%2==0):
    count+=1
    print(j)
print("total even numbers in the list are : ",count)

[237, 110, 818, 463, 521, 468, 385, 148, 552, 778, 818, 157, 618, 895, 822, 432, 166, 726, 512, 151, 744, 821, 782, 637, 434, 678, 102, 230, 853, 695, 231, 541, 702, 148, 712, 781, 595, 568, 363, 574, 268, 589, 711, 645, 456, 432, 459, 482, 562, 741, 587, 653, 655, 328, 312, 774, 885, 611, 688, 551, 621, 689, 724, 841, 413, 714, 752, 731, 328, 623, 477, 637, 723, 896, 212, 315, 419, 166, 213, 282, 122, 200, 595, 272, 840, 510, 629, 243, 445, 511, 476, 720, 146, 807, 251, 807, 299, 355, 172, 404]
110
818
468
148
552
778
818
618
822
432
166
726
512
744
782
434
678
102
230
702
148
712
568
574
268
456
432
482
562
328
312
774
688
724
714
752
328
896
212
166
282
122
200
272
840
510
476
720
146
172
404
total even numbers in the list are :  51

Ans6.3

In [64]:
sum=0
for j in p:
  count=0
  for i in range(1,j+1):
    if(j%i==0):
      count+=1
  if(count==2):
    print(j)
    sum=sum+j
print("sum of all the prime numbers in the list is : ",sum)

463
521
157
151
821
853
541
587
653
419
251
sum of all the prime numbers in the list is :  5417

### Q7

### Q8

### Q9

### Q11

In [66]:

import timeit
 
startTime = timeit.default_timer()
 
for _ in range(100):
    print(_)
 
endTime = timeit.default_timer()
 
print(endTime - startTime)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
0.015563103999738814